<!--The content below is only a placeholder and can be replaced.-->
<h2>Here are some links to help you start: </h2>

<router-outlet></router-outlet>
<!--<app-two-way-binding></app-two-way-binding>
<app-nf-if></app-nf-if>
<app-ng-switch-case></app-ng-switch-case>
<app-ng-for></app-ng-for>
<app-ng-class></app-ng-class>
<app-ng-style></app-ng-style>
<app-ng-content>
  <div class="titulo">
    meu título passado
  </div>
  <div class="corpo">
    meu conteúdo com select
  </div>
  <div class="corpo">
    segundo conteúdo passado
  </div>
</app-ng-content>
<app-event-binding></app-event-binding>-->
<app-input-output [menu]="desenvolvimento" (nomeClicado)="valorPassado($event)">
  <p>você clicou em: {{valor}}</p>
</app-input-output>